<!-- Or Gabay 307858712 Eilon Lotem 305236770 -->
<!doctype html>
<html>
<head>
    <title>Shauli</title>
    @*<audio autoplay loop>
        <source src="/Content/Minions Banana.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1 id="maintitle">Ha-Blog Shel Shauli</h1>
    </header>
    <nav>
        <!-- Navigation -->
        <ul id="navbar">
            <li id="navblog">@Html.ActionLink("Blog", "Index", "Blog")</li>
            <li id="navabout">@Html.ActionLink("About", "About", "Blog")</li>
            <li id="navfans">@Html.ActionLink("Fan Club","Index", "Fans")</li>
            <li id="navposts">@Html.ActionLink("Posts Panel", "Index", "Posts")</li>
            <li id="navstats">@Html.ActionLink("Statistics", "Statistics", "Blog")</li>
            <li class="subscribe">
                <div id="transDemo2">
                    <img src="/Content/images/facebook.png" width="25" height="25">
                </div>
                <a id="shareBtn" href="#">Share on Facebook</a>
            </li>
        </ul>
    </nav>
    <section id="intro">
        <!-- Introduction -->

        <header>
            <h2>Do you have questions for me?</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        <img src="/Content/images/intro_shauli.png" alt="Shauli" />
    </section>
    <div id="content">
        <div id="mainContent">
            @RenderBody()
        </div>
        <aside>
            <section id="weatherWrap">
                <header>
                    <h3>Our Centers Weather</h3>
                </header>
                <select id="cities" class="form-control">
                    <option value="Tel Aviv">Tel Aviv</option>
                    <option value="Roma">Roma</option>
                    <option value="Madrid">Madrid</option>
                    <option value="Berlin">Berlin</option>
                </select>
                <div id="weatherRes">
                </div>
                <button type="button" class="btn btn-default">Get Weather</button>
            </section>
            <span>
                @Html.Partial("_LoginPartial")
            </span>
        </aside>
    </div>
    <footer>
        <!-- Footer -->
        <div>
            <section id="about">
                <header>
                    <h3>About</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
            </section>
            <section id="blogroll">
                <header>
                    <h3>Blogroll</h3>
                </header>
                <ul>
                    <li><a href="#">NETTUTS+</a></li>
                    <li><a href="#">FreelanceSwitch</a></li>
                </ul>
            </section>
            <section id="popular">
                <header>
                    <h3>Popular</h3>
                </header>
                <ul>
                    <li><a href="#">This is the title of a blog post</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                </ul>
            </section>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/shauli")
    @RenderSection("scripts", required: false)
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCarSqkP2bpqHs05UwR8l47zOA2psWKkEQ &callback=initMap">
    </script>
</body>
</html>
